@font-face {
  font-family: andis-regular;
  src: url(assets/JAM\ Type\ Design\ -\ Andis\ Regular.otf);
}
@font-face {
  font-family: panoptica-sans;
  src: url(assets/PanopticaSans.ttf);
}

@font-face {
  font-family: stem-regular;
  src: url(assets/Stem-Regular.otf);
}
@font-face {
  font-family: heinemann-bold;
  src: url(assets/Heinemann-Bold.ttf);
}

@font-face {
  font-family: tangent-bold;
  src: url(assets/Tangent-Bold.ttf);
}

@font-face {
  font-family: bayer-sans;
  src: url(assets/Bayer_Sans.ttf);
}
* {
  margin: 0;
}

html {
  height: 100%;
}

.shop {
  padding-bottom: 4rem;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul > li > * {

  font-family: tangent-bold;
  letter-spacing: 3px;
  color: black;
  text-decoration: none;
}
ul > li > *:hover {
  color: #272932;

}

.product-review{
  font-family: tangent-bold;
}

nav {
  background-color: red;

}

.logo-image {
  border-radius: 40px;
}

.product-title {
  font-family: stem-regular;
}

.logo-image:hover{
  opacity: 0.7;
}

.detail-container{
  display: flex;
  width: 50%;
  gap: 2rem;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.add-to-cart-button {
  background: linear-gradient(to left, #6879c6, #4c85d2, #5a6cbd);
  padding: 0.4rem 5rem;
  font-size: 1.5rem;
  border: none;
  color: white;
  border-radius: 8px;
  width: 100%;
  transition: 200ms linear;
}

.add-to-cart-button:hover {
  color: #DEE7E7;
  cursor: pointer;
  transform: scale(1.05)
}

.product-details > button:nth-child(1) {
  width: 100%;
  padding: 0.5rem 3rem;
  margin-bottom: 2rem;
}

.product-details > .product-title {
  margin-bottom: 1.5rem;
}

.product-details > .product-price {
  margin-bottom: 1rem;
}

.product-details > .category-detail {

  margin-bottom: 0.5rem;
}

.product-details > .description-detail {

  margin-bottom: 1.25rem;
}

.image-detail-view {
  background-color: white;
  height: min-content;
  padding: 3rem;
}
.product-details {
  line-height: 2rem;
  width: 100%;
}
.cart-title {
  font-family: heinemann-bold;
}
.item-stock-price{
  font-family:Helvetica;
}

.image-detail {
  width: 446px;
  mix-blend-mode: multiply;
}

.delete > .text {
  font-family: tangent-bold;
}

.cost {
  font-family: tangent-bold;
}

.nav-title {
  font-family: bayer-sans;
  letter-spacing: 3px;
}

.cost {
  color: #969696;
}

.cart .subtotal, .cart .amount{
  color: black;
}

.cart .total {
  color: black;
}

.products {
  padding-top: 2rem;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 8rem;
  row-gap: 2rem;
}

.products > a {

  text-decoration: none;
}

.product {
  border-radius: 20px;
  color: black;
  background-color: white;
}

.product-image > img, .image-detail-view > img{

  transition: 200ms linear;
}

.product-image > img:hover, .image-detail-view > img:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
}

.price-name {
  color: #c2c2c2;
  font-size: 1.25rem;
  font-family: panoptica-sans;
}

.product-price {
  font-family: heinemann-bold;
  font-size: 1.5rem;
}

.product-detail {
  padding: 1rem;
}

.product-rating {
  padding: 0.5rem;
}

.product-title {
  padding-bottom: 1rem;
}

nav img {
  width: 75px;
  height: 75px;
}

.price-name {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.product-review > img.star {
  width: 10%;
  height: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.product img {
  width: 50%;
  height: 250px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product-image {

  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  border-bottom: 3px solid #f5f3ff;
}

nav{
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  height: inherit;
  gap: 1rem;
}

main {
  background-color: #e8e8e8;
}

.description-detail {
  font-family: andis-regular;
  font-size: x-large;
}

.category-detail {
  font-family: stem-regular;
}

button {
  font-family: tangent-bold;
}

nav {
  position: sticky;
  top: 0;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 100px;
  background-color: white;
  border-bottom: 3px solid #f5f3ff;
}
#root > div > nav > div > div > h1 {
  padding: 0rem 1rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.cart-container {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.product-rating {
  padding-top: 1rem;
}
.cart {

  background-color: white;
  border-radius: 20px;
  padding: 0rem 1rem;
}

.quantity {
  border-radius: 30px;
  border: 2px solid #efefef;
  background-color: white;
  display: flex;
}

.item-stock {
  display: flex;
}

.item-stock-status {

  color: #3aae59;
  font-weight: 700;
  padding-left: 0.5rem;
}

.item-stock-price {
  color: #b7b7b7;
  font-weight: 500;
  border-right: 2px solid #f0f0f0;
  padding-right: 0.5rem;
}

p.quantity-display {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.delete {
  display: flex;
  align-items: center;
}

.quantity > * {
  padding: 0.5rem 1.25rem;
  font-size: large;
  width: min-content;
  height: min-content;
}

.quantity button {

  border: none;
  background-color: inherit;
  outline: none;
}

.item-detail > .item-title {
  font-size: 2rem;
  font-weight: 200;
}

.item-detail > .item-price {
  font-size: 2rem;
  font-weight: 600;
}

/* link to get hex to filter converter https://codepen.io/sosuke/pen/Pjoqqp */
.trash-image {
  width: 30px;
  filter: invert(63%) sepia(0%) saturate(42%) hue-rotate(244deg) brightness(95%) contrast(89%);
}

.delete > .text {
  font-size: 20px;
  color: #969696;
}

.delete > .text:hover {
  font-size: 20px;
  transition: all ease-in-out 0.2s;
  color: #b7b7b7;
  cursor: pointer;
}
.quantity button:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.quantity button:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.quantity button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.shop-title, .shop-description {
  padding-top: 1rem;
  text-align: center;
}

h2.cart-title{
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0rem;
  width: 100%;
}

.cart-item-container {
  width: 88%;
  display: flex;
  border-top: 1px solid #f0f0f0;
  padding: 2rem;
  margin: 0 auto;
  gap: 1.5rem;
}
.item-image {
  background-color: #f0f0f0;
  padding: 0 2rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-radius: 20px;
}

.item-image > img {
  mix-blend-mode: multiply;
  margin: 0 auto;
  width: 100px;
}

.user-input {
  display: flex;
  justify-content: space-between;
}

.cost {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}


.item-detail {
  display: flex;
  justify-content: space-between;
}

#root > div > main > div > div.cart > div:nth-child(7){
  border-top: 3px dashed #f0f0f0;
}

#root > div > main > div > div.cart > div:nth-child(9){
  border-bottom: 3px dashed #f0f0f0;
}

.buttons > button {
  display: block;
  margin: 0 auto;
  margin-top:2rem;
  width: 300px;
  height: 40px;
}

.buttons > button:nth-child(1) {

  background-color: #0085fe;
  border: none;
  color: white;
}

.buttons > button:nth-child(1):hover{

  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #2660A4;
}
#root > div > main > div > div.product-details > button:nth-child(1):hover{
  background-color: #efefef;
  cursor: pointer;
}

.buttons > button:nth-child(2):hover{

  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #f5f3ff;
}

.buttons > button:nth-child(2) , .product-details > button:nth-child(1){

  border: none;
  background-color: white;
  color: #0085fe;
}
.buttons {
  margin-top: 2rem;
}

button > img{
  display: inline-block;
  vertical-align: middle;
}



img.right-arrow{
  width: 20px;
  padding-left: 5px;
  height: 20px;
  filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(182deg) brightness(104%) contrast(104%);
}

img.left-arrow{
  width: 20px;
  height: 20px;
  filter: invert(36%) sepia(64%) saturate(3581%) hue-rotate(193deg) brightness(101%) contrast(101%);
}

@media(max-width: 1120px) {
  .cart-container {
    width: 88%;
  }
}

@media(max-width: 760px) {
  .nav-title{
    display: none;
  }
  nav {
    font-size: 0.75rem;
  }

}

@media(max-width: 612px) {

  .cart-item-container {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 1rem;
  }
  .cost {
    width: 80%;
  }
 .quantity > * {
  padding: 0.25rem 0.75rem;
  }
}

@media(max-width: 310px) {
  .cart-container{
    width: 100%;
  }

  #root > div > nav > div > a{
    padding-right: 1rem;
  }

  .buttons > button {
    width: 200px;
  }
  img.logo-image {
    display: none;
  }
  .links {
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

}
