* {
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: red;

}

.products {
  padding-top: 2rem;
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.product {
  border-radius: 20px;
  background-color: white;
}

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product-image {

  margin: 0 auto;
  padding: 3rem 0;
  border-bottom: 3px solid #f5f3ff;
}

main {
  background-color: orange;
}
