
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
  font-family: ui-sans-serif;
  src: url(./assets/Golos\ UI_Bold.ttf);
}
@font-face {
  font-family: andis-regular;
  src: url(assets/JAM\ Type\ Design\ -\ Andis\ Regular.otf);
}
@font-face {
  font-family: panoptica-sans;
  src: url(assets/PanopticaSans.ttf);
}

@font-face {
  font-family: stem-regular;
  src: url(assets/Stem-Regular.otf);
}
@font-face {
  font-family: heinemann-bold;
  src: url(assets/Heinemann-Bold.ttf);
}

@font-face {
  font-family: tangent-bold;
  src: url(assets/Tangent-Bold.ttf);
}

@font-face {
  font-family: bayer-sans;
  src: url(assets/Bayer_Sans.ttf);
}
* {
  margin: 0;
}

html {
  height: 100%;
}

.shop {

  animation: fadeIn ease 2s;
  padding-bottom: 4rem;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul > li > * {

  font-family: tangent-bold;
  letter-spacing: 3px;
  color: black;
  text-decoration: none;
}
ul > li > *:hover {
  color: #272932;

}

.empty-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 10rem 0.5rem;
}

.empty-cart.image {
  background-color: black;
  padding: 4rem 1rem;
  
}

.product-review{
  font-family: tangent-bold;
}

nav {
  background-color: red;

}

.logo-image {
  border-radius: 40px;
}

.product-title {
  font-family: stem-regular;
}

.logo-image:hover{
  opacity: 0.7;
}

.detail-container{
  display: flex;
  width: 60%;
  gap: 2rem;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.add-to-cart-button {
  background: linear-gradient(to left, #6879c6, #4c85d2, #5a6cbd);
  padding: 0.4rem 5rem;
  font-size: 1.5rem;
  border: none;
  color: white;
  border-radius: 8px;
  width: 100%;
  transition: 200ms linear;
}

.add-to-cart-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.add-to-cart-button:hover {
  color: #DEE7E7;
  cursor: pointer;
  transform: scale(1.05)
}

.product-details button:nth-child(1) {
  width: 100%;
  padding: 0.5rem 3rem;
  margin-bottom: 2rem;
}

.product-details > .product-title {
  margin-bottom: 1.5rem;
}

.product-details > .product-price {
  margin-bottom: 1rem;
}

.product-details > .category-detail {

  margin-bottom: 0.5rem;
}

.product-details > .description-detail {

  margin-bottom: 1.25rem;
}

.image-detail-view {
  background-color: white;
  height: min-content;
  padding: 3rem;
}
.product-details {
  line-height: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}
.cart-title {
  font-family: heinemann-bold;
}
.item-stock-price{
  font-family:Helvetica;
}

.image-detail {
  width: 446px;
  mix-blend-mode: multiply;
}

.delete > .text {
  font-family: tangent-bold;
}

.cost {
  font-family: tangent-bold;
}

.nav-title {
  font-family: bayer-sans;
  letter-spacing: 3px;
}

.cost {
  color: #969696;
}

.cart .subtotal, .cart .amount{
  color: black;
}

.cart .total {
  color: black;
}
.cart {

  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);
}

.products {
  padding-top: 2rem;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 8rem;
  row-gap: 2rem;
}

.products > a {

  text-decoration: none;
}

.product {
  border-radius: 20px;
  color: black;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04);
}

.product-image > img, .image-detail-view > img{

  transition: 200ms linear;
}

.product-image > img:hover, .image-detail-view > img:hover{
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
}

.price-name {
  color: #c2c2c2;
  font-size: 1.25rem;
  font-family: panoptica-sans;
}

.product-price {
  font-family: heinemann-bold;
  font-size: 1.5rem;
}

.product-detail {
  padding: 1rem;
}

.product-rating {
  padding: 0.5rem;
}

.product-title {
  text-align: center;
  padding-bottom: 1rem;
}

nav img {
  width: 75px;
  height: 75px;
}

.price-name {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.product-review > img.star {
  width: 10%;
  height: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.product img {
  width: 50%;
  height: 250px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.product-image {

  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  border-bottom: 3px solid #f5f3ff;
}

nav{
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  height: inherit;
  gap: 1rem;
}

main {
  background: linear-gradient(150deg, rgb(221, 221, 221) 49.63%, rgb(110, 136, 161) 100.00%);
}

.description-detail {
  font-family: andis-regular;
  font-size: x-large;
}

.category-detail {
  font-family: stem-regular;
}

button {
  font-family: tangent-bold;
}

nav {
  position: sticky;
  top: 0;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 100px;
  background-color: white;
  border-bottom: 3px solid #f5f3ff;
}
#root > div > nav > div > div > h1 {
  padding: 0rem 1rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.cart-container {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.product-rating {
  padding-top: 1rem;
}
.cart {

  background-color: white;
  border-radius: 20px;
  animation: fadeIn ease 0.5s;
  padding: 0rem 1rem;
}

.quantity {
  border-radius: 30px;
  border: 2px solid #efefef;
  background-color: white;
  display: flex;
}

.item-stock {
  display: flex;
}

.item-stock-status {

  color: #3aae59;
  font-weight: 700;
  padding-left: 0.5rem;
}

.item-stock-price {
  color: #b7b7b7;
  font-weight: 500;
  border-right: 2px solid #f0f0f0;
  padding-right: 0.5rem;
}

p.quantity-display {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.delete {
  display: flex;
  align-items: center;
}

.quantity > * {
  padding: 0.5rem 1.25rem;
  font-size: large;
  width: min-content;
  height: min-content;
}

.quantity button {

  border: none;
  background-color: inherit;
  outline: none;
}

.item-detail > .item-title {
  font-size: 2rem;
  font-weight: 200;
}

.item-detail > .item-price {
  font-size: 2rem;
  font-weight: 600;
}

/* link to get hex to filter converter https://codepen.io/sosuke/pen/Pjoqqp */
.trash-image {
  width: 30px;
  filter: invert(63%) sepia(0%) saturate(42%) hue-rotate(244deg) brightness(95%) contrast(89%);
}

.delete > .text {
  font-size: 20px;
  color: #969696;
}

.delete > .text:hover {
  font-size: 20px;
  transition: all ease-in-out 0.2s;
  color: #b7b7b7;
  cursor: pointer;
}
.quantity button:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.quantity button:nth-child(3) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.quantity button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.shop-title, .shop-description {
  font-family: tangent-bold;
  padding-top: 1rem;
  text-align: center;
}

h2.cart-title{
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 0rem;
  width: 100%;
}

.cart-item-container {
  width: 88%;
  display: flex;
  border-top: 1px solid #f0f0f0;
  padding: 2rem;
  margin: 0 auto;
  gap: 1.5rem;
}
.item-image {
  background-color: #f0f0f0;
  padding: 0 2rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-radius: 20px;
}

.item-image > img {
  mix-blend-mode: multiply;
  margin: 0 auto;
  width: 100px;
}

.user-input {
  display: flex;
  justify-content: space-between;
}

.cost {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}


.item-detail {
  display: flex;
  justify-content: space-between;
}

#root > div > main > div > div.cart > div:nth-child(7){
  border-top: 3px dashed #f0f0f0;
}

#root > div > main > div > div.cart > div:nth-child(9){
  border-bottom: 3px dashed #f0f0f0;
}

.buttons button {
  display: block;
  margin: 0 auto;
  margin-top:2rem;
  width: 300px;
  height: 40px;
}

.buttons > button:nth-child(1) {

  background-color: #0085fe;
  border: none;
  color: white;
}

.buttons > button:nth-child(1):hover{

  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #2660A4;
}
.product-details button:nth-child(1):hover{
  background-color: #efefef;
  cursor: pointer;
}

nav a{
  all: unset;
}

nav a:hover{
  opacity: 0.8;
  cursor: pointer;
}

nav span {
  font-family: heinemann-bold;
  padding: 0.25rem;
  margin-right: 0.25rem;
  background-color: #b7b7b7;
  border-radius: 1000px;
}

.buttons > a button:hover{

  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #f5f3ff;
}

.buttons > a {
  text-decoration: none;
}

.buttons > a button , .product-details button:nth-child(1){

  border: none;
  background-color: white;
  color: #0085fe;
}
.buttons {
  margin-top: 2rem;
}

button > img{
  display: inline-block;
  vertical-align: middle;
}

.hero-title {
  font-family: bayer-sans;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: bold; 
  letter-spacing: 0.25rem;
}

.hero {
  justify-content: space-around;
  align-items: center;
  display: flex;
  animation: fadeIn ease 2s;
  padding: 1rem;
  padding-left: 1.5rem;
}

.hero-text {
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: 2rem;
  line-height: 2.5;
  font-family: 'Poppins'
}

.hero-image-container{
  width: 100%;
  padding: 2rem;
}

.hero-image {
  width: 100%;
  border-radius: 100px;
}

.hero-button {
  margin-top: 2rem;
  width: 100%;
  font-size: 4rem;
  border-radius: 50px;
  padding: 2rem;
  color: white;
  background-color: black;
}

.hero-button:hover{
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

footer {
  position: sticky;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  gap: 2rem;
  background-color: rgb(229, 231, 235);
  align-items: center;
  padding: 2rem;
}

.newsletter-input {
  display: flex;
}

input:focus{
  background-color: white;
}

footer input {
  box-shadow: outset rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: white;
  text-size-adjust: auto;
  padding: 16px;
  border-radius: 6px;
  padding: 10px;
  width: 60%;
  font-size: 16px;
}

.contacts {

  align-self: center;
}

.newsletter-title {
  color: black;
  font-family: ui-sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.newsletter-description {
  font-family: Arial, Helvetica, sans-serif;
}
.newsletter-button {
  margin-left: 2rem;
  width: min-content;
  padding: 0 24px;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: ui-sans-serif;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px
}

.newsletter-button:hover{
  color: white;
  background-color: black;
  transform: scale(1.05);
}

footer a {
  all: unset;
}

.contacts-title {
  color: black;
  font-size: 1rem;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.contacts{
  line-height: 24px;
}

footer span {
  padding-left: 2rem;
  color: rgb(100, 100, 100);
}

footer a:hover{
  color:#0085fe;
  cursor: pointer;
}


img.right-arrow{
  width: 20px;
  padding-left: 5px;
  height: 20px;
  filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(182deg) brightness(104%) contrast(104%);
}

img.left-arrow{
  width: 20px;
  height: 20px;
  filter: invert(36%) sepia(64%) saturate(3581%) hue-rotate(193deg) brightness(101%) contrast(101%);
}

.buttons * {
  border-radius: 8px;
}
.linkedin-logo {
  width: 34px;
}

.github-logo {
  width: 34px;
}


.social {
  text-align: center;
  line-height: 3;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 1.5;
}
.logos {
  display: flex;
  column-gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1530px) {
  .detail-container {
    width: 80%;
  }
}
@media(max-width: 1270px){
  .footer-content{
    grid-template-columns: repeat(2, 1fr);
  }
  .social {
    text-align: start;
  }
  .logos {
    justify-content: start;
  }
}

@media(max-width: 1120px) {
  .hero {
    flex-wrap: wrap;
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-text{
    font-size: 1.5rem;
  }
  .hero-button {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
  }
  .cart-container {
    width: 88%;
  }
  .detail-container {
    width: 100%;
    height: min-content;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .description-detail {
    width: 80%;
  }
  .image-detail-view {
    margin-top: 1rem;
  }
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-title {
    font-size: 1.2rem;
  }

  .product-details button {
    width: 300px;
  }
  .product-details > button:nth-child(1) {
    width: 300px;
  }

  .image-detail {
    width: 275px;
  }
}

@media(max-width: 760px) {
  .hero > *{
    line-height: 2;
  }
  .footer-content {
    line-height: 3;
    grid-template-columns: 1fr;
  }
  .nav-title{
    display: none;
  }
  nav {
    font-size: 0.75rem;
  }

}

@media(max-width: 612px) {

  .cart-item-container {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 1rem;
  }
  .cost {
    width: 80%;
  }
 .quantity > * {
  padding: 0.25rem 0.75rem;
  }
  .image-detail {
    width: 230px;
  }
}

@media(max-width: 310px) {
  .hero-title {
    font-size: 3rem;
  }
  .cart-container{
    width: 100%;
  }

  #root > div > nav > div > a{
    padding-right: 1rem;
  }

  .buttons > button {
    width: 200px;
  }
  img.logo-image {
    display: none;
  }
  .links {
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .image-detail {
    width: 150px;
  }
  .product-details > button:nth-child(1) {
    width: 90%;
  }
  .product-title {
    font-size: medium;
    text-align: center;
  }
  .product-details > button {
    width: 90%;
    font-size: medium;
  }

}
